# MacOS
.DS_Store

# IDE
.idea/
venv/
*.pyc

# Input data
input/

# Output data
data/ms_cve/*
data/ms_search/*
data/nvd_cve/*
data/attackerkb_cve/*
data/profiles/*
data/vulners/*
data/vulners_exploit/*
report/*.html
reports/*.html

# Secrets
credentials.py